@CHARSET "ISO-8859-1";

h2{
	 background: #3498db;
	
	 font-family: Bahnschrift;
  color: #ffffff;
  font-size: 19px;
  
	
}


img{
	
	
	
	
}

table{
	margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
	
}


*.einloggen{
	
	background-color: #4D6ABA;
	height: 22px;
	font-size: 55px;
	text-align: center;
	align-content: center;
	color: white;
	width: 60%;
	font-family: Verdana
	
}

input{
	
	         padding: 2px;
             font-size: 41px;
             border-width: 2px;
             border-color: #4D6ABA;
             background-color: #f8f8f8;
             color: #4D6ABA;
             border-style: solid;
             border-radius: 16px;
             box-shadow: 1px 0px 6px rgba(66,66,66,.50);
             font-family: Verdana
}


.spacing{
	
	padding-bottom: 35px;
}
.reg{
	
	font-family: Verdana 
	
}


.schrift{
	
	font-size: 30px;
	font-family: Verdana
}
.button1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


