@charset "ISO-8859-1";

/* body { */

/*   background-image: url("../img/01.png"); */
/*   background-size: 25% auto; */
/*   background-repeat: no-repeat; */
/*   background-position: top; */
/*   background-color: white; */

/* } */
.LoginViewCenter {
	padding-top: 100px;
	text-align: center;
}

h2 {
	background: #4D6ABA;
	font-family: Verdana;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

h4 {
	color: red;
	text-align: center;
	
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

*.submit  {
	width: 200px;
	background-color: #4D6ABA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
	
}

.oder{
	
	font-family: Verdana;
	font-size: 16px;
	padding: 15px 25px;
	
}

a{
	width: 200px;
	background-color: #4D6ABA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
	font-family: Verdana;
	
}

*.einloggen {
	background-color: #4D6ABA;
	height: 22px;
	font-size: 55px;
	text-align: center;
	align-content: center;
	color: white;
	width: 60%;
	font-family: Verdana
}

input.feld {
	padding: 2px;
	font-size: 41px;
	border-width: 2px;
	border-color: #4D6ABA;
	background-color: #f8f8f8;
	color: #4D6ABA;
	border-style: solid;
	border-radius: 16px;
	box-shadow: 1px 0px 6px rgba(66, 66, 66, .50);
	font-family: Verdana
}

.spacing {
	padding-bottom: 35px;
}

.reg {
	font-family: Verdana
}

.schrift {
	font-size: 30px;
	font-family: Verdana
}